<form method="POST" action="/upload_img" enctype="multipart/form-data">
    <label for="image">Select an image to upload:</label>
    <input type="file" id="image" name="image">
    <br>
    <button type="submit">Upload Image</button>
  </form>