<form method="POST" action="/upload_progressBar" enctype="multipart/form-data">
    <label for="image">Select an file to upload:</label>
    <input type="file" id="image" name="image">
    <br>
    <button type="submit">Upload</button>
  </form>